<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de empregos</title>
</head>
<body>
    <form action="/search" method="get">
        <h1>Buscador de Emprego</h1>
        <input type="text" name="job" placeholder="Exemplo: Analista de Sistemas" required/><br>
        <input type="text" name="local" placeholder="Exemplo: São Paulo" required><br>
        <button>Buscar</button>
    </form>
</body>
</html>